@media (min-width: 992px) and (max-width: 1140px) {
    .topMan {
        background-position: left 500px top 10px;
    }
    .navbar-brand {
        display: none !important;
    }
    .category {
        flex-direction: row;
        margin-top: 10px;
    }
    .product {
        width: 100%;
    }
    .featureBanner {
        width: 100%;
    }
    .featureBox {
        width: 100%;
        height: auto;
    }
    .featureBoxText {
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .topMan {
        background-position: left 300px top 10px;
    }
    .navbar-brand {
        display: none !important;
    }
    .category {
        flex-direction: row;
        margin-top: 10px;
    }
    .product {
        width: 100%;
    }
    .featureBanner {
        width: 100%;
    }
    .featureBox {
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .featureBoxText {
        margin-left: 20px;
        width: 35%;
    }
    .subscribeLeft {
        width: 100%;
        border-right: none;
        height: auto;
    }
    .subscribeRight {
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .topNav li a:not(:last-child) {
        margin-right: 15px;
    }
    .navbar-brand {
        display: none !important;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 5px;
    }
    .accountCart {
        margin-left: 0px;
    }
    .topMan {
        background: none;
    }
    .topBanner {
        height: 300px;
    }
    .bannerText {
        top: 30px;
    }
    .category {
        flex-direction: row;
        margin-top: 10px;
    }
    .product {
        width: 100%;
    }
    .featureBanner {
        width: 100%;
    }
    .featureBox {
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .featureBoxText {
        margin-left: 20px;
        width: 435px;
    }
    .featureBoxText :nth-child(2) {
        width: auto;
    }
    .subscribeLeft {
        width: 100%;
        border-right: none;
        height: auto;
    }
    .subscribeRight {
        width: 100%;
    }
}
@media (min-width: 300px) and (max-width: 576px) {
    .topNav li a:not(:last-child) {
        margin-right: 15px;
    }
    .navbar-brand {
        display: none !important;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        height: 200px;
        padding-bottom: 5px;
    }
    .log {
        width: 100%;
        justify-content: center;
    }

    .accountCart {
        width: 100%;
        text-align: center;
    }
    .topMan {
        background: none;
    }
    .topBanner {
        height: 380px;
    }
    .bannerText {
        top: 120px;
        width: 100%;
    }
    .bannerText h2 {
        font-size: 50px;
    }
    .bannerText span:nth-child(2) {
        font-size: 30px;
    }
    .bannerText span:nth-child(3) {
        font-size: 30px;
    }
    .category {
        flex-direction: row;
        margin-top: 10px;
    }
    .product {
        width: 100%;
    }
    .featureBanner {
        width: 100%;
    }
    .featureBox {
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .featureBoxText {
        margin-left: 20px;
        width: 410px;
    }
    .featureBoxText :nth-child(2) {
        width: auto;
    }
    .subscribeLeft {
        width: 100%;
        border-right: none;
        height: auto;
    }
    .subscribeRight {
        width: 100%;
    }
}
